/* ==========================================================================
   Color palette
   ========================================================================== */

$brown-green-ish: #61704f;
$brown-green-ish-lighter: #61704f;
$white-green-ish: #fbfff4;
$light-lemon: #f6ff99;



$color-titles: $brown-green-ish;

$color-background_primary: $white-green-ish;
$color-background-secondary: $light-lemon;
$color-background-tertiary: $brown-green-ish;
$color-background-screen: #f1f1f1;
$color-background-hr: #ccc;
$color-background-button: #e6e6e6;
$color-background-pre: #eee;
$color-background-ins: #fff9c0;

$color-text-body: $brown-green-ish;
$color-text-screen: #21759b;
$color-text-input: #666;
$color-text-input-focus: #111;
$color-link: royalblue;
$color-link-visited: purple;
$color-link-hover: midnightblue;

$color-border-button: #ccc #ccc #bbb;
$color-border-button-hover: #ccc #bbb #aaa;
$color-border-button-focus: #aaa #bbb #bbb;
$color-border-input: #ccc;
$color-border-abbr: #666;


